<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/dc862dc570.js" crossorigin="anonymous"></script>
    <title>Wil Carley Portfolio</title>
</head>
<!--add a header and links to in depth about me, contact (no hamburger menu-->

<!--pick a background/theme to apply and add to images-->
<body class="d-flex h-100 text-center text-white bg-dark">
<!--need to add css to style headshot, title and subtitle-->
    <div  class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-4">WCD</span></a>
                  <nav class="nav nav-masthead justify-content-center float-md-end">
                      <a href="#" class="nav-link text-white" aria-current="page">Resume</a>
                      <a href="#" class="nav-link text-white" aria-current="page">About</a>
                  </nav>
            </header>
        </div>
        <div>
            <main class="px-3 center">
                <span class="avatar"><img src="static/images/avatar.jpg" class ="rounded-circle" height=256 width=192
                                          alt="Headshot Photo"/></span>
                <div class="cover-container d-flex w-50 h-100 p-3 mx-auto flex-column">
                   <h6>Hello I'm</h6>
                   <h1>Wil Carley.</h1>
                <!--Add a call to action and what make me stand out-->
                   <h4>Self-taught developer with a background in various professional domains, I bring a unique
                    blend of experiences to the world of technology. While my path may not have followed traditional
                    avenues, my diverse expertise has equipped me with a versatile skill set and proven ability to adapt
                    to new challenges.</h4>
                </div>
                <div>
                    <ul class="horizontal-list justify-content-center">
                        <li><a class="icon" href="https://github.com/th3rd1" ><i class="fa-brands fa-github fa-4x"></i></a></li>
                        <li><a class="icon" href="mailto:wcarley321@gmail.com"><i class="fa-solid fa-envelope fa-4x"></i></a></li>
                        <li><a class="icon" href="https://www.linkedin.com/in/williamcarley/"><i class="fa-brands fa-linkedin fa-4x"></i></a></li>
                    </ul>
                </div>
                <div class="album py-5 bg-light">
                    <div class="container">
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                         <div class="col">
                          <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect
                                    width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">sample</text></svg>
                            <div class="card-body">
                              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                  This is a wider card with supporting text below as a natural introduction to additional content. This content is a little longer.</font></font></p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">see code
                                      </font></font></button>
                                </div>
                                <small class="text-muted"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">project title</font></font></small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect
                                    width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">sample</text></svg>

                            <div class="card-body">
                              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                  This is a wider card with supporting text below as a natural introduction to additional content. This content is a little longer.</font></font></p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">see code
                                      </font></font></button>
                                </div>
                                <small class="text-muted"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">project title</font></font></small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text
                                    x="50%" y="50%" fill="#eceeef" dy=".3em">sample</text></svg>
                            <div class="card-body">
                              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This is a wider card with supporting text below as a natural introduction to additional content. This content is a little longer.</font></font></p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">see code
                                      </font></font></button>
                                </div>
                                <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">project title</font></font></small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>